.downloadSection {
  padding: 3%;
}

@media (width < 1400px) {
  .downloadSection {
    margin-bottom: 3%;
  }
}

.sectionHeading {
  margin-left: 20%;
  margin-bottom: 20px;
  max-width: 350px;
  font-size: clamp(1rem, 0.8977rem + 0.5455vw, 1.375rem);
  font-weight: medium;
}

.downloadGuide {
  margin: 3% 12%;
  display: grid;
  grid-template-rows: repeat(2, 1fr);;
  gap: 80px;
  padding: 2% 8%;
}

.guideStep {
  border-top: 1px solid var(--main-color);
  display: grid;
  grid-template-columns: max-content 1fr;
  gap: 100px;
  padding-top: 70px;
}

@media (width < 1100px) {
  .guideStep {
    grid-template-columns:1fr;
    grid-template-rows: max-content 1fr;
    gap: 30px;
  }
}

.guideStep div {
  font-size: clamp(0.875rem, 0.75rem + 0.5714vw, 1.25rem);
  padding: 14px;
  height: 240px;  /* убрать */
  background-color: rgba(128, 128, 128, 0.24); /* поменять на переменную */
  display: flex;
}
