.page {
  background-color: var(--bg-color);
  color: var(--font-color);
  font-family: 'FiraCode', Arial;
}

button {
  transition: ease 0.3s;
}

button:hover {
  opacity: 0.9;
}

button:active {
  scale: 1.06;
}
