.leftHeader {
  text-align: left;
  margin-left: 30%;
  margin-right: 20px;
}

@media (width < 1050px) {
  .leftHeader {
    margin-left: 10%
  }
}

@media (width < 500px) {
   .leftHeader {
    margin-left: 0
  }
}

.logoSvg {
  width: 30px;
  height: 30px;
  transition: transform 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.logoSvgPath {
  stroke: var(--main-color);
  fill: var(--main-color);
}

@media (width > 1400px) {
  .logoLink {
    cursor: default;
    pointer-events: none;
  }
  .logoSvgPath {
    fill: none;
    stroke: none;
  }
}

.logoLink:hover .logoSvg,
.logoLink:focus .logoSvg {
  transform: scale(1.15);
}