html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  outline: none;
}

a,
a:visited,
a:hover,
a:active,
a:focus {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

button {
  cursor: pointer;
  background-color: var(--main-color);
  color: var(--contrast-color);
  border: none;
  font-family: 'Hasklig'
}

.page {
  width: 100%;
  height: 100vh;
  min-width: 350px;
}